{% extends 'v2ray/base.html' %}
{% block title %}{{ _('system status') }}{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .ant-col-sm-24 {
            margin-top: 10px;
        }
    </style>
{% endblock %}
{% block body %}

    <a-layout id="app" v-cloak>
        {% include 'v2ray/common_sider.html' %}
        <a-layout id="content-layout">
            <a-layout-content>
                <transition name="list" appear>
                <a-row>
                    <a-card hoverable>
                        <a-row>
                            <a-col :sm="24" :md="12">
                                <a-row>
                                    <a-col :span="12" style="text-align: center">
                                        <a-progress type="dashboard" status="normal"
                                                    :stroke-color="status.cpu.color"
                                                    :percent="status.cpu.percent"></a-progress>
                                        <div>CPU</div>
                                    </a-col>
                                    <a-col :span="12" style="text-align: center">
                                        <a-progress type="dashboard" status="normal"
                                                    :stroke-color="status.memory.color"
                                                    :percent="status.memory.percent"></a-progress>
                                        <div>{{ _('memory') }}：[[ sizeFormat(status.memory.used) ]] /
                                            [[ sizeFormat(status.memory.total) ]]</div>
                                    </a-col>
                                </a-row>
                            </a-col>
                            <a-col :sm="24" :md="12">
                                <a-row>
                                    <a-col :span="12" style="text-align: center">
                                        <a-progress type="dashboard" status="normal"
                                                    :stroke-color="status.swap.color"
                                                    :percent="status.swap.percent"></a-progress>
                                        <div>swap：[[ sizeFormat(status.swap.used) ]] /
                                            [[ sizeFormat(status.swap.total) ]]</div>
                                    </a-col>
                                    <a-col :span="12" style="text-align: center">
                                        <a-progress type="dashboard" status="normal"
                                                    :stroke-color="status.disk.color"
                                                    :percent="status.disk.percent"></a-progress>
                                        <div>{{ _('disk') }}：[[ sizeFormat(status.disk.used) ]] /
                                            [[ sizeFormat(status.disk.total) ]]</div>
                                    </a-col>
                                </a-row>
                            </a-col>
                        </a-row>
                    </a-card>
                </a-row>
                </transition>
                <transition name="list" appear>
                <a-row>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            v2ray {{ _('status') }}：<a-tag :color="status.v2.color">[[ status.v2.stat ]]</a-tag>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            {{ _('uptime') }}：<a-tag :color="status.uptime_color">[[ status.uptime ]]</a-tag>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            {{ _('loads') }}：[[ status.loads[0] ]] | [[ status.loads[1] ]] | [[ status.loads[2] ]]
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            tcp / udp {{ _('connections') }}：[[ status.tcp_count ]] / [[ status.udp_count ]]
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            <a-row>
                                <a-col :span="12">
                                    <a-icon type="arrow-up"></a-icon> [[ status.net_io.up ]] / S
                                </a-col>
                                <a-col :span="12">
                                    <a-icon type="arrow-down"></a-icon> [[ status.net_io.down ]] / S
                                </a-col>
                            </a-row>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            <a-row>
                                <a-col :span="12">
                                    <a-icon type="cloud-upload"></a-icon> [[ status.net_traffic.sent ]]
                                </a-col>
                                <a-col :span="12">
                                    <a-icon type="cloud-download"></a-icon> [[ status.net_traffic.recv ]]
                                </a-col>
                            </a-row>
                        </a-card>
                    </a-col>
                </a-row>
                </transition>
                {% include 'v2ray/nodes_status.html' %}
			</a-layout-content>

        </a-layout>
    </a-layout>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>

        class status {
            constructor() {
                this.remark = "unknown";
                this.address = "unknown";
                this.v2 = {
                    code: 2,
                    color: '',
                    stat: '{{ _('error') }}',
                };
                this.uptime = 0;
                this.uptime_color = '#F56C6C';
                this.cpu = {percent: 0};
                this.memory = {percent: 0, used: 0, total: 0};
                this.swap = {percent: 0, used: 0, total: 0};
                this.disk = {percent: 0, used: 0, total: 0};
                this.net_io = {up: 0, down: 0};
                this.net_traffic = {sent: 0, recv: 0};
                this.loads = [0, 0, 0];
                this.tcp_count = 0;
                this.udp_count = 0;
            }
        }
        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                status: new status(),
                nodesStatus: [],
            },
            methods: {
                getStatus() {
                    get({
                        url: '/server/status',
                        success: data => {
                            this.setStatus(data);
                        }
                    });
                },
                setStatus(status) {
                    switch (status.v2.code) {
                        case 0: status.v2.stat = '{{ _('running') }}'; status.v2.color = '#67C23A'; break;
                        case 1: status.v2.stat = '{{ _('not running') }}'; status.v2.color = '#E6A23C'; break;
                        default: status.v2.stat = '{{ _('error') }}'; status.v2.color = '#F56C6C';
                    }
                    if (status.uptime > 0)
                        status.uptime_color = '#67C23A';
                    status.uptime = formatSecond(status.uptime);
                    status.cpu.percent = status.cpu.percent.toFixed(2);
                    status.memory.percent = (status.memory.used / status.memory.total * 100).toFixed(2);
                    const swapPercent = status.swap.used / status.swap.total * 100;
                    status.swap.percent = isNaN(swapPercent) ? 0 : swapPercent.toFixed(2);
                    status.disk.percent = (status.disk.used / status.disk.total * 100).toFixed(2);
                    status.cpu.color = this.computeColor(status.cpu.percent);
                    status.memory.color = this.computeColor(status.memory.percent);
                    status.swap.color = this.computeColor(status.swap.percent);
                    status.disk.color = this.computeColor(status.disk.percent);
                    status.net_io.up = sizeFormat(status.net_io.up);
                    status.net_io.down = sizeFormat(status.net_io.down);
                    status.net_traffic.sent = sizeFormat(status.net_traffic.sent);
                    status.net_traffic.recv = sizeFormat(status.net_traffic.recv);
                    this.status = status;
                },
                getNodesStatus() {
                    get({
                        url: '/server/nodes_status',
                        success: data => {
                            this.setNodesStatus(data);
                        }
                    });
                },
                setNodesStatus(nodesStatus) {
                    this.nodesStatus = nodesStatus.map(nodestatus => {
                        let tmp = new status();
                        if (nodestatus.hasOwnProperty("v2") === false){
                            tmp.v2.code = 2;
                            tmp.v2.stat = '{{ _('error') }}';
                            tmp.v2.color = '#F56C6C';
                            tmp.remark = nodestatus.remark;
                            tmp.address = nodestatus.address;
                            return tmp;
                        }
                        switch (nodestatus.v2.code) {
                            case 0:
                                tmp.v2.stat = '{{ _('running') }}';
                                tmp.v2.color = '#67C23A';
                                break;
                            case 1:
                                tmp.v2.stat = '{{ _('not running') }}';
                                tmp.v2.color = '#E6A23C';
                                break;
                            default:
                                tmp.v2.stat = '{{ _('error') }}';
                                tmp.v2.color = '#F56C6C';
                        }
                        tmp.remark = nodestatus.remark;
                        tmp.address = nodestatus.address;
                        if (nodestatus.uptime > 0)
                            tmp.uptime_color = '#67C23A';
                        tmp.uptime = formatSecond(nodestatus.uptime);
                        tmp.cpu.percent = nodestatus.cpu.percent.toFixed(2);
                        tmp.memory.used = nodestatus.memory.used;
                        tmp.memory.total = nodestatus.memory.total;
                        tmp.memory.percent = (nodestatus.memory.used / nodestatus.memory.total * 100).toFixed(2);
                        tmp.disk.used = nodestatus.disk.used;
                        tmp.disk.total = nodestatus.disk.total;
                        tmp.disk.percent = (nodestatus.disk.used / nodestatus.disk.total * 100).toFixed(2);
                        tmp.cpu.color = this.computeColor(tmp.cpu.percent);
                        tmp.memory.color = this.computeColor(tmp.memory.percent);
                        tmp.disk.color = this.computeColor(tmp.disk.percent);
                        tmp.net_io.up = sizeFormat(nodestatus.net_io.up);
                        tmp.net_io.down = sizeFormat(nodestatus.net_io.down);
                        tmp.net_traffic.sent = sizeFormat(nodestatus.net_traffic.sent);
                        tmp.net_traffic.recv = sizeFormat(nodestatus.net_traffic.recv);
                        tmp.tcp_count = nodestatus.tcp_count;
                        tmp.udp_count = nodestatus.udp_count;
                        return tmp;
                    });
                },
                computeColor(percent) {
                    if (percent < 80) {
                        return '#67C23A';
                    } else if (percent < 90) {
                        return '#E6A23C';
                    } else {
                        return '#F56C6C';
                    }
                },
            },
            mounted() {
                this.setStatus({{ status | safe }});
                this.setNodesStatus({{ nodesStatus | safe }});
                setInterval(this.getStatus, 2000);
                setInterval(this.getNodesStatus, 2000);
            },
        });

    </script>
{% endblock %}